<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/proveedores.css">
    <title>Document</title>
</head>
<body>
    <div class="navegador">         
        <li class="lista">
            <h1>Menú</h1>
            <a href="/views/inventario.html">inventario</a>
            <a href="/views/proveedores.html">proveedores</a>
            <a href="/views/pedido.html">pedido</a>
        </li>   
    </div>
    <h1>proveedores</h1>

    
    
   
    
</body>
</html>